name: quranapps
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: '>=3.0.3 <4.0.0'

dependencies:
  lottie: ^2.4.0
  http: ^1.1.0
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  get: 

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0


flutter:
  uses-material-design: true
  assets:
    - assets/lotties/
    - assets/images/

